body {
    background-color: antiquewhite;
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    
}

.titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.items {
    grid-area: items;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
    transition: all 0.3s;
}

p {
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 20px 0;
}

b {
    font-size: 1.2rem;
    margin-right: 5px;
}

i {
    font-family: cursive;
    font-size: 1.2rem;
}